.this {
  position: relative;
  margin: 100px 0 100px;
  font-size: 40px;
}

/* featured items list */
.row {
  justify-content: center;
}
/*-----------------------*/

/*  contact form  */
.contact-in {
  justify-content: center;
  display: flex;
  height: 100%;
}

.contact-form {
  width: 50%;
  position: relative;
  margin-left: 30px;
  float: right;
}
/*-----------------------*/

/* footer social media icons */

.icon-button {
  margin: 20px 10px;
}

#footer {
  padding: 100px;
  justify-content: center;
}
/*-----------------------*/

/* for gallery page */

.responsive {
  text-align: center;
}

div.gallery > img {
  margin-top: 20px;
  margin-right: 5px;
  width: 600px;
  height: 500px;
}

div.gallery-2 > img {
  margin-top: 20px;
  margin-right: 5px;
  width: 400px;
  height: 400px;
}

/*-----------------------*/

/* for reviews page */
.card-row {
  display: flex;
  padding: 2px;
  margin: 10px;
  justify-content: center;
}

.card-body-reviews {
  width: 60%;
  margin: 20px;
}
