.row {
  margin: 0;
  position: relative;
}

.nav button {
  position: relative;
}

.card-img {
  position: relative;
  z-index: 0;
}

.contact-in {
  display: flex;
  height: 100%;
}

.contact-form {
  display: flex;
  position: relative;
  float: right;
}
