.row {
  margin: 0;
  position: relative;
}

.nav button {
  position: relative;
}

.card-img {
  position: relative;
  z-index: 0;
}

/*  contact form  */
.contact-in {
  display: flex;
  height: 100%;
}

.contact-form {
  position: relative;
  margin-left: 200px;
  float: right;
}
/*-----------------------*/

/* footer social media icons */

.icon-button {
  margin: 20px 10px;
}

#footer {
  padding: 100px;
  justify-content: center;
}
/*-----------------------*/

/* for gallery page */

.responsive {
  text-align: center;
}

div.gallery > img {
  margin-top: 20px;
  margin-right: 5px;
  width: 600px;
  height: 500px;
}

.bg-color {
  background-color: rgb(126, 160, 131);
}

div.gallery-2 > img {
  margin-top: 20px;
  margin-right: 5px;
  width: 400px;
  height: 400px;
}
